body {
	background-color: lightGrey;
	width: 100%;
	padding: 0;
	margin: 0;
}

h1, h2, h3, p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

h2, h3{
	width: 50%;
	font-size:.75em;
	padding: 0;
	margin: 0;

}

#player-fleet {
	float: left;
}

#comp-fleet {
	float: right;
}		

#board {
	width: 100%;
}

.grid-container {
	width: 40%;
	display: inline-block;
	width: 375px;
	height: 375px;
	padding: 20px 110px;
}

#ship-buttons, h3 {
	width: 100%;
	padding:0 25px;
	text-align: center;
}

#ship-buttons {
	padding-bottom: 20px;
}

#rotate-botton-div {
	width: 100%;
	text-align: center;
}

#rotate-button {
	width: 50px;
	height: 18px;
	margin: 10px auto;
	padding: 10px auto;
}

#aux-block {
	width: 400px;
	padding: 10px auto;
	margin: 10px auto;
}




/* GRID CELL COLORS FOR DIFF STATES */

.grid-cell {
	background-color:SteelBlue;
	height: 35px;
	width: 35px;
	float: left;
	border: 1px solid black;
}

.placeship{
	background-color: DarkGrey;
}

.ship {
	background-color: DarkGrey;
}

.compship {
	background-color: Purple;
}

.hit {
	background-color:red;
}


.miss {
	background-color: #23415A;
}

.sunk {
	background-color:black;
}
