h1, h2, h3 {
	font-family: Helvetica;
	text-align: center;
}

h3 {
	font-size:1.5em;
}

body {
	background-color: lightGrey;
}

.grid-container {
	float: left;
	display: inline-block;
	width: 375px;
	height: 375px;
	padding: 20px;
}

.ship-buttons {
	float: right;
	clear: both;

}

/* GRID CELL COLORS FOR DIFF STATES */

.grid-cell {
	background-color:SteelBlue;
	height: 35px;
	width: 35px;
	float: left;
	border: 1px solid black;
}

.ship {
	background-color: DarkGrey;
}

.compship {
	background-color: Purple;
}

.hit {
	background-color:red;
}


.miss {
	background-color: #23415A;
}

.sunk {
	background-color:black;
}
